@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
body{
    /* background-color: blueviolet;
     */
     background-color: #3D3C42;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
}
img{
    width: 12.5rem;
}
h1{
    font-size: 6rem;
    color:#76BA99;
}
h2{
    color: #E6B325;
    font-size: 2rem;
}
.players
{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    align-items: center;

}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
@media(max-width:575px){
    .wrapper{
       flex-direction: column; 
    }
  }